* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #170346;
  color: white;
 
}


header {
  background: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #9b59ff;

}



nav a {
  color: rgb(224, 226, 233);
  margin-left: 20px;
  transition: 0.3s;
}

nav a:hover{
color: blueviolet;
}

.hero {
  
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
   animation: rainbow-shift 4s infinite;

}
@keyframes rainbow-shift {
    0%   { background-color: rgb(162, 107, 250); border-color: #ddd; }
    10%  { background-color: #6d83ff; border-color: orange; transform: scale(0.9); }
    20% { background-color: rgb(151, 125, 223); border-color: #ddd; }
}

.hero h2 {
  font-size:larger;
  background: rgba(92, 30, 134, 0.6);
  padding: 20px;
  border-radius: 10px;
  animation:  2s ease-in;
  font-weight: bolder;
  background-color: #2d0746;
}
.series {
  padding: 40px;
}

.series h2 {
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #a1badf;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  cursor:grab;
 width: 100%;
  
}


.form-section {
  padding: 40px;
  background: #111;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 12px;
  background: #9b59ff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.5s;
}

button:hover {
  background: #7a3ed8;
}

footer {
  background: #000;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
@keyframes slide-right {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(50px); opacity: 0.5; background-color: #eee; }
}