*{
    background-color: rgb(239, 245, 250);
}
.child{
    background-color: brown;
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction:;
    flex-wrap: wrap;
}
.gh{
    background-color: rgb(228, 215, 214); 
    padding: 30px;
     margin: 50px;
     display: flex; 
     
}